/* variables */
$screen-max-width: 1152px;
$body-background-color: #f9fafa;

/* theme color */
$--color-primary: #00c2ce;
$--color-secondary: #999;
$--color-border: #d7dae2;

/* icon font path, required */
// $--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/lib/theme-chalk/display.css';
