* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  overflow: auto;
}

::-webkit-scrollbar-thumb {
  background-color: #a2a2a2;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
}

::-webkit-scrollbar-track {
  background-color: #f7f7f7;
  border: 1px solid #efefef;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: $body-background-color;
  // background-color: #fff;

  @include res(md) {
    font-size: 15px;
  }
}

.app {
  &__content {
    min-height: 90vh;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  margin-bottom: 16px;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

p {
  margin-bottom: 8px;
}

.el-row {
  margin-left: -8px;
  margin-right: -8px;
}

.el-col {
  padding: 0 8px;
}

.el-input-group__append button.el-button--primary {
  background-color: $--color-primary;
  color: #fff;
  border: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.el-button {
  font-weight: bold;
}
