.d-flex {
  display: flex;
}

.grow-1 {
  flex-grow: 1;
}

.flex-column {
  flex-direction: column;
}

// Text
.text-bold {
  font-weight: bold !important;
}

.text-small {
  font-size: 0.8em;
  line-height: 1.5;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-truncate {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.color-secondary {
  color: $--color-secondary;
}

// Layout
.float-right {
  float: right;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-y {
  display: flex !important;
  align-items: center;
}

.center-x {
  display: flex;
  justify-content: center;
}

.page {
  background-color: $body-background-color;
  min-height: calc(100vh - 56px);

  @include res(md) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.container {
  max-width: $screen-max-width;
  margin: 0 auto;

  @include res(md) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.title {
  font-size: 1.3rem;
  margin-top: 16px;
  margin-bottom: 16px;
}

.w-100 {
  width: 100% !important;
}

.m-0 {
  margin: 0 !important;
}

.mx-8 {
  margin-right: 8px !important;
  margin-left: 8px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.ml-8 {
  margin-left: 8px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.mr-16 {
  margin-right: 16px !important;
}

.ml-16 {
  margin-left: 16px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.pt-16 {
  padding-top: 16px !important;
}

.p-8 {
  padding: 8px !important;
}

.p-16 {
  padding: 16px !important;
}

.p-32 {
  padding: 32px !important;
}

.px-8 {
  padding-right: 8px !important;
  padding-left: 8px !important;
}

.py-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.py-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.p-0 {
  padding: 0 !important;
}

.line-height-rs {
  line-height: 1.5;
}

.cursor {
  cursor: pointer;
  &:hover {
    color: $--color-primary;
    transition: all 0.3s;
  }
}

.bg-primary {
  background-color: $--color-primary;
  color: #fff;
}

.color-primary {
  color: $--color-primary;
}

.circle {
  border-radius: 50%;
}

.img-fluid {
  width: 100%;
}

.main-layout {
  // max-width: 800px;
  // width: calc(100% - 300px);
  width: 100%;
  min-height: calc(100vh - 56px);
  flex-grow: 1;
  background-color: $background-color;
  // padding: 16px;
}
