.btn {
  &--facebook {
    color: #fff;
    border: 1px solid #1877f2;
    background-color: #1877f2;
    transition: all 0.3s;

    &:hover {
      border: 1px solid #4b7dff;
      background-color: #4b7dff;
      color: #fff;
    }
  }

  &--google {
    color: #000;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: all 0.3s;

    &:hover {
      color: $--color-primary;
      border: 1px solid $--color-primary;
      background-color: #fff;
    }
  }
}
