.chat-sticker {
  &__image {
    width: 50%;
    padding: 0 16px;
    margin-bottom: 16px;

    &:hover {
      cursor: pointer;
      opacity: 0.6;
      transition: opacity 0.3s;
    }

    @include res(md) {
      max-width: 200px;
    }
  }
}
