.chat-bubble {
  &__command {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__content {
    white-space: pre-wrap;
  }

  &__additional-info {
    font-size: 0.9em;
    margin-top: 16px;
    margin-bottom: 8px;
    padding: 8px 12px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    background-color: #fbfafa;
    color: #707070;
  }

  &__social {
    display: flex;
    align-items: center;
  }

  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $--color-secondary;
    transition: all 0.3s;
    padding: 0 12px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #eee;
      color: $--color-primary;
    }

    &__text {
      font-size: 0.7em;
    }

    p {
      margin: 0;
      display: flex;
      align-items: center;
    }

    i {
      font-size: 1.4rem;
    }

    &--active {
      animation: heartbeat 1s;
      color: $--color-primary;
    }
  }

  &__image {
    max-width: 100%;
    cursor: pointer;

    img {
      max-height: 510px;
      margin: 0 auto !important;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  &__question-image {
    width: 100%;
    text-align: center;

    img {
      max-height: 300px;
    }
  }

  &__audio {
    margin-bottom: 8px;
  }

  &__translate-toggle {
    color: $--color-secondary;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
