.left-sidebar {
  display: none;
  max-width: 212px;
  width: 100%;
  background: #fff;
  border-right: 1px solid #eee;
  position: relative;

  @include res(md) {
    display: block;
  }

  &__links {
    position: sticky;
    top: 56px;
    padding-top: 16px;
    min-height: calc(100vh - 56px);
  }

  &__item {
    padding: 10px 16px;
    font-weight: 500;
    cursor: pointer;

    i {
      font-size: 1.2em;
      margin-right: 8px;
    }

    &--active {
      color: $--color-primary;
      background-color: #eff0f1;
      background-color: #feefeb;
      border-right: 3px solid $--color-primary;
    }

    &:hover {
      color: $--color-primary;
      background-color: #feefeb;
    }

    &__icon {
      margin-right: 12px;
      width: 32px;
      height: 32px;
      padding: 4px;
    }
  }
}
