.tb-navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1999;
  max-height: 56px;
  background-color: #333;
  color: #fff;
  transition: all 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);

  &__popover {
    max-height: 70vh;
    overflow: auto;
  }

  &__logo {
    max-width: 190px;
    padding-right: 16px;
  }

  &__search-popup {
    padding: 8px 12px;
    background-color: #333;
    border-bottom: 1px solid #eee;
  }

  &__wrapper {
    position: relative;
    max-width: $screen-max-width;
    padding: 8px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;

    &--desktop {
      padding: 0 16px;
      justify-content: space-between;
      height: 56px;
    }
  }

  &__item {
    display: block;

    &--active {
      color: $--color-primary !important;
      border-bottom: 2px solid $--color-primary;
    }

    &__anchor {
      display: block;
      position: relative;
      color: #fff;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
    }

    i {
      font-size: 1.5em;
    }

    &__label {
      overflow: hidden;
      font-size: 10px;
      font-weight: 700;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-top: 4px;
    }
  }

  &__logo {
    display: flex;
    font-weight: bold;
  }

  &__avatar {
    // border: 1px solid #eee;
    border-radius: 50%;
    cursor: pointer;
    width: 34px;
    height: 34px;
  }

  &__search {
    flex-grow: 1;
    padding: 0 16px;
  }

  &__operations {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 12px;

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 8px;
    }

    &__anchor {
      font-size: 26px;
      line-height: 1;
      color: #fff;
      cursor: pointer;

      &:hover {
        color: $--color-primary;
        transition: all 0.3s;
      }
    }
  }
}
