.tb-navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 102;
  background-color: #fff;
  color: #333;

  &__logo {
    max-width: 130px;
    padding-right: 16px;
  }

  &__wrapper {
    position: relative;
    max-width: $screen-max-width;
    padding: 8px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;

    &--desktop {
      padding: 0 16px;
      justify-content: space-between;
      height: 56px;
    }
  }

  &__item {
    display: block;
    flex-basis: 20%;

    &__anchor {
      display: block;
      position: relative;
      color: #333;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
    }

    i {
      font-size: 1.2em;
    }

    &__label {
      overflow: hidden;
      font-size: 10px;
      font-weight: 700;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-top: 4px;
    }
  }

  &__logo {
    display: flex;
    font-weight: bold;
  }

  &__avatar {
    // border: 1px solid #333;
    border-radius: 50%;
    cursor: pointer;
  }

  &__search {
    flex-grow: 1;
    padding: 0 16px;
  }

  &__operations {
    display: flex;
    align-items: center;
    list-style: none;

    &__item {
      display: block;
    }

    &__anchor {
      font-size: 24px;
      display: block;
      position: relative;
      padding: 0 0.5rem;
      color: #333;
    }
  }
}
