.question-related {
  padding: 8px;
  margin-top: 24px;
  font-size: 0.9em;

  @include res(lg) {
    margin-top: 0;
    // position: sticky;
    // top: 70px;
    // left: 0;
    // right: 0;
  }

  &__box {
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #eee;
    box-shadow: $border-shadow;
    margin-bottom: 32px;
    overflow: hidden;

    &__title {
      padding: 10px 24px;
      margin-bottom: 0;
      font-size: 1.1em;
      background-color: #444;
      color: #fff;
    }
  }
}

.question-simple {
  padding: 8px 16px;
  padding-bottom: 16px;
  transition: all 0.3s;
  box-shadow: 0 0 0 1px #eee;
  background-color: #fff;

  &:hover {
    cursor: pointer;
    // color: $--color-primary;
    background-color: #f9fafa;
  }
}
