.record-audio {
  &__wrapper {
    width: fit-content;
    margin: 0 auto;
  }
}

.record-dialog {
  width: 90%;
  max-width: 500px;

  &__mic {
    border: none;
    border-radius: 50%;
    background: #999;
    color: #fff;
    width: 64px;
    height: 64px;
    margin-top: 16px;
    margin-bottom: 16px;

    &:hover {
      background: $--color-primary;
    }

    i {
      font-size: 36px;
    }
  }
}

.mic-active {
  background: $--color-primary;
}
