.tb-search {
  // max-width: 600px;
  position: relative;

  &__input {
    width: 100%;
  }

  &__popper {
    li {
      line-height: 1.8;
      font-size: 1em;
      padding: 8px 12px;
      white-space: unset !important;
      border-bottom: 1px solid #eee;

      &:last-child {
        border-bottom: unset;
      }
    }

    b {
      color: $--color-primary;
      background-color: rgba($color: $--color-primary, $alpha: 0.05);
    }

    .el-autocomplete-suggestion__wrap {
      max-height: 70vh;
    }
  }

  .el-input__prefix {
    left: 12px;
  }
}
