.user-tag {
  display: flex;
  padding: 16px 24px;
  width: 100%;
  font-size: 14px;
  background-color: #fff;

  &:hover {
    transform: translateY(-8px);
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: $light-shadow;
  }

  &__country {
    color: #6a737c;
    margin-bottom: 0;
  }

  &__heart {
    color: #ed4956;
    display: flex;
    align-items: center;
  }

  &__answers {
    color: #8bc34a;
  }

  &__questions {
    color: #409eff;
  }

  &__username {
    text-decoration: none;
    font-weight: 600;
    color: #444;
    margin-bottom: 0;

    &:hover {
      color: #222;
    }
  }

  &__image {
    margin-right: 12px;
    border-radius: 50%;
    cursor: pointer;
    width: 48px;
    height: 48px;
  }

  &__content {
    flex-grow: 1;
  }
}
