.vote {
  display: flex;
  width: fit-content;
  align-items: center;
  border-radius: 4px;

  &--active {
    animation: heartbeat 1s;
    color: rgb(237, 73, 86);
  }

  &__point {
    padding: 0 4px;
    color: rgb(237, 73, 86);
    font-weight: bold;
  }
}
