.bookmarks {
  padding: 16px;
  min-height: 100%;
  background-color: #fff;

  &__content {
    &--empty {
      text-align: center;
    }
  }

  &__image {
    max-width: 500px;
    margin: 0 auto;
  }
}
