.home {
  background-color: #fff;
  padding: 16px;
  padding-top: 0;
  min-height: 100%;

  &__filter {
    max-width: 600px;
    margin: 0 auto;
    // background-color: #fff;
    // border-bottom: 1px solid $--color-border;
    padding: 16px 0;
    display: flex;
    // position: sticky;
    // top: 56px;
    // left: 0;
    // right: 0;
    // z-index: 100;

    &__checkboxs {
      display: flex;
      flex-direction: column;

      .el-checkbox {
        padding: 8px;
      }
    }
  }
}

.skeleton-wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
