.home {
  background-color: #fff;
  padding: 16px;
  padding-top: 0;

  &__filter {
    margin-bottom: 16px;
    background-color: #fff;
    // border-bottom: 1px solid $--color-border;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    position: sticky;
    top: 56px;
    left: 0;
    right: 0;
    z-index: 100;

    &__checkboxs {
      display: flex;
      flex-direction: column;

      .el-checkbox {
        padding: 8px;
      }
    }
  }
}
