.page--login {
  max-width: 550px;
  padding: 32px;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  @include res(md) {
    margin: 0 auto;
  }

  .el-form-item__label {
    padding: 0;
  }
}

.symbol-dialog {
  &__title {
    font-size: 1.1rem;
    margin-bottom: 16px;
  }
}

.custom-radio-group {
  display: flex;
  flex-direction: column;

  .el-radio-button {
    width: 100%;
    display: block;

    span {
      width: 100%;
      white-space: pre-wrap;
      line-height: 1.5;
      text-align: left;
      border: 1px solid #dcdfe6;
      border-radius: 0 !important;
    }
  }
}
