.profile {
  // background: #fff;
  // padding: 16px;
  // min-height: 100%;

  &__wrapper {
    padding: 16px 24px;
    background: #fff;
    border-radius: 8px;
    max-width: 800px;
    margin: 16px;
    box-shadow: $border-shadow;
  }

  &__overview {
    padding: 16px 0;
    // margin-bottom: 16px;
  }

  &__username {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 8px;
  }

  &__avatar {
    border: 1px solid #eee;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    cursor: pointer;
    // margin-bottom: 8px;
    box-shadow: $light-shadow;
  }

  &__avatar-wrapper {
    // border: 1px solid $--color-secondary;
    padding: 12px;
    text-align: center;
  }

  &__detail {
    margin-bottom: 8px;
  }

  &__stats {
    &__item {
      margin-bottom: 8px;

      @include res(md) {
        padding-right: 24px;
      }

      &--points {
        color: $--color-primary;
      }

      &--question {
        color: #409eff;
      }

      &--answer {
        color: #8bc34a;
      }
    }
  }

  &__bio {
    margin-bottom: 32px;
  }

  &__post {
    min-height: 200px;

    &--error {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 100%;
        max-width: 200px;
      }
    }
  }
}

.edit-profile {
  background-color: $background-color;
  padding: 16px;

  &__wrapper {
    padding: 8px;

    p {
      margin-bottom: 0;
    }

    .el-form-item__label {
      font-weight: 500;
    }

    i {
      margin-right: 8px;
    }
  }
}

.account-banned {
  max-width: 600px;
  padding: 16px;

  .el-alert {
    padding: 16px;
  }

  .el-alert__content {
    padding-left: 16px;
  }

  .el-alert__title {
    font-size: 20px;
  }

  .el-alert__description {
    font-size: 15px;
    line-height: 1.5;
  }
}
