.question-new {
  padding: 32px;
  background-color: #fff;
  min-height: 100%;

  &__button-mic {
    border: none;
    border-radius: 50%;
    background: #999;
    color: #fff;
    width: 64px;
    height: 64px;
    margin-bottom: 8px;

    &:hover {
      background: $--color-primary;
    }

    i {
      font-size: 36px;
    }
  }

  &__image {
    width: 100%;
    max-width: 400px;
  }
}
