.question-new {
  min-height: 90vh;
  max-width: 800px;
  margin-top: 16px;
  padding: 32px;
  text-align: center;
  background-color: #fff;

  &__button-mic {
    border: none;
    border-radius: 50%;
    background: #999;
    color: #fff;
    width: 64px;
    height: 64px;
    margin-bottom: 8px;

    &:hover {
      background: $--color-primary;
    }

    i {
      font-size: 36px;
    }
  }

  &__image {
    width: 100%;
    max-width: 400px;
  }
}
