.question-detail {
  position: relative;
  // background-color: #fff;
  padding: 8px;
  padding-bottom: 0;

  @include res(md) {
    margin-left: 16px;
  }

  // &__row {
  //   @include res(lg) {
  //     display: flex;
  //     align-items: stretch;
  //   }
  // }

  &__content {
    min-height: 80vh;
    padding: 8px;
    padding-bottom: 48px;
  }

  &__right {
    height: inherit;
    position: relative;
  }
}

.edit-question {
  max-width: 800px;
}

.answer-form {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;

  @include res(md) {
    position: relative;
  }

  padding: 16px;
  padding-bottom: 0;
  margin: 0 -8px;
  background: #f0f2f5;

  &__image {
    width: 64px;
    height: 64px;
    border-radius: 8px;

    &__remove {
      position: absolute;
      top: -8px;
      right: -26px;
      font-size: 24px;

      &:hover {
        cursor: pointer;
        color: $--color-primary;
      }
    }
  }

  &__audio {
    position: relative;
    width: fit-content;
    margin: 8px auto;

    &__remove {
      position: absolute;
      top: -8px;
      right: -8px;
      cursor: pointer;

      &:hover {
        color: $--color-primary;
        transition: all 0.3s;
      }
    }
  }

  &__input-wrapper {
    display: flex;
    align-items: flex-start;
  }

  &__input {
    flex-grow: 1;
    textarea {
      resize: none;
      width: 100%;
      padding: 8px;
      border-radius: 4px;
      border: 1px solid #ccc;

      &:focus {
        border: 1px solid $--color-primary;
      }
    }
  }

  &__send {
    margin-left: 8px;
  }
}

.button-group {
  display: flex;
  color: #999;

  &__item {
    padding: 4px 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
      color: $--color-primary;
    }
  }

  i {
    font-size: 26px;
  }
}

.mention-item {
  padding: 6px 12px;
  border-radius: 4px;
  background: #fff;
  width: 100%;
  min-width: 250px;
}

.mention-selected {
  background: rgba($color: $--color-primary, $alpha: 0.8);
  color: #fff;
  transition: all 0.2s;
}

.popover {
  margin-left: 250px;
  margin-bottom: 30px;
  box-shadow: $light-shadow;
}
