.question-detail {
  position: relative;
  background-color: #fff;

  &__content {
    min-height: 80vh;
    padding: 16px 8px;
  }
}

.answer-form {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
  padding-bottom: 0;
  background: #ededed;

  &__image {
    width: 64px;
    height: 64px;

    &__remove {
      position: absolute;
      top: -8px;
      right: -8px;

      &:hover {
        cursor: pointer;
        color: $--color-primary;
      }
    }
  }

  &__audio {
    position: relative;
    width: fit-content;

    &__remove {
      position: absolute;
      top: -8px;
      right: -8px;
      cursor: pointer;

      &:hover {
        color: $--color-primary;
        transition: all 0.3s;
      }
    }
  }

  &__input-wrapper {
    display: flex;
    align-items: flex-start;
  }
  &__input {
    flex-grow: 1;
  }
  &__send {
    margin-left: 8px;
  }
}

.button-group {
  display: flex;
  color: #999;

  &__item {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
      color: $--color-primary;
    }
  }

  i {
    font-size: 26px;
  }
}
