.search-page {
  padding: 8px 12px;

  &__header {
    border-bottom: 1px solid #eee;
    margin-bottom: 16px;
  }

  &__title {
    display: flex;
    align-items: center;

    i {
      font-size: 36px;
      margin-right: 8px;
    }
  }

  &__content {
    b {
      color: $--color-primary;
      background-color: rgba($color: $--color-primary, $alpha: 0.05);
    }
  }

  &__item {
    padding: 12px;
    border-bottom: 1px solid #eee;
    display: flex;

    &:hover {
      cursor: pointer;
      background-color: $background-primary;
    }

    &:last-child {
      border-bottom: unset;
    }

    &__stat {
      margin-right: 16px;
      text-align: center;
    }

    &__box {
      display: flex;
      flex-direction: column;
      padding: 4px;
      border: 1px solid #eee;

      &--primary {
        border: 1px solid $--color-primary;
        margin-bottom: 4px;
      }

      &--secondary {
        border: 1px solid $--color-secondary;
      }
    }
  }
}
